<div class="dice-roll" data-action="expandRoll">
  <div class="dice-result">
    <div class="dice-formula">{{formula}}</div>
    <div class="dice-tooltip">
      <div class="wrapper">
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header flexrow">
              <span class="part-formula">{{formula}}</span>
              <span class="part-total">{{total}}</span>
            </header>
            <ol class="dice-rolls">
              {{#each dice}}
                <li class="roll die d{{this.faces}}">{{this.result}}</li>
              {{/each}}
            </ol>
          </div>
        </section>
      </div>
    </div>
    <h4 class="dice-total">{{total}}</h4>
    <div class="dg2-apply-row">
      <button type="button" class="dg2-apply-button" data-action="dg2-apply-damage"
              data-damage="{{total}}" data-ap="{{ap}}"
              data-tooltip="{{localize 'DG2.Apply.DamageTooltip'}}">
        <i class="fas fa-heart-crack" aria-hidden="true"></i>
        {{localize 'DG2.Apply.Damage'}} ({{total}}{{#if ap}}, AP {{ap}}{{/if}})
      </button>
    </div>
  </div>
</div>
